
@{
    ViewBag.Title = "Студент";
}

<h2>Студент</h2>

<h1>Добро пожаловать на портал</h1>
<h3>Здесь ты можешь выполнить следующие действия:</h3>
<ul style="list-style-type:none">
    <li>@Html.ActionLink("Поработать с материалом", "Faculty", "Material")</li>
    <li>@Html.ActionLink("Поработать с заданием", "STask", "Task")</li>
    <li>@Html.ActionLink("Поработать с журналом", "SIndex", "Classbook")</li>
</ul>
