@model IEnumerable<Kyrsach.Models.My_Models.Material>

@{
    ViewBag.Title = "Курсы";
}

<h2>Курсы</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course)
        </td>
        <td>
            @Html.ActionLink("Далее", "SDetails", new { id=item.MaterialId }) |
        </td>
    </tr>
}

</table>

