@model IEnumerable<E_learning_portal.Models.MyModels.Material>

@{
    ViewBag.Title = "Кафедра";
}

<h2>Кафедра</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>|
            @Html.ActionLink("Details", "Course", new { id=item.MaterialId }) |
        </td>
    </tr>
}

</table>
