@model IEnumerable<E_learning_portal.Models.MyModels.Material>

@{
    ViewBag.Title = "Предмет";
}

<h2>Предмет</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.ActionLink("Details", "Name", new { id=item.MaterialId }) |
        </td>
    </tr>
}

</table>
